<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首 页</title>
    <script th:src="@{/static/js/jquery-3.3.1.min.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/static/bootstrap/bootstrap-3.3.7-dist/js/bootstrap.js}" type="text/javascript" charset="utf-8"></script>
    <link th:href="@{/static/bootstrap/bootstrap-3.3.7-dist/js/bootstrap.css}" rel="stylesheet" type="text/css" />
</head>
<body>
    <p th:text="${test}">世界 你好！</p>
</body>
</html>